@import "veriable";
@import "button";
@import "input";

p {
  margin: 0;
}

.top-bar {
  background-color: #1B173E;
  color: #ffffff;
  padding: 5px 0;
  font-size: 14px;

  a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 600;
  }

  i {
    padding-right: 5px;
  }
}

header {
  background-color: #2B2E54;

  img {
    width: 160px;
  }

  .navbar {
    .navbar-nav {
      .nav-item {
        padding: 0 15px;
      }

      .nav-link {
        color: #9CA3AF;
        padding: 10px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: $white;
          transition: width 0.3s;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }
      }

      .active {
        color: $white;
      }
    }

  }

  .d-flex {
    gap: 6px;
    align-items: center;
  }

  input {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  form {
    padding: 0;
    margin: 0;
  }

  /* Expandable search box */
  /* Note: don't change 0.8s in transition. */
  /* --------------------- */
  input.search-text {
    color: #222;
    position: relative;
    z-index: 5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 40px;
    width: 0;
    margin: 0;
    padding: 5px 0 5px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    background: url(data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiBoZWlnaHQ9IjUxMnB4IiBpZD0iTGF5ZXJfMSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNTAzLjg2Niw0NzcuOTc0TDM2MC45NTgsMzM1LjA1MmMyOC43MjUtMzQuNTQ0LDQ2LjAxNy03OC45MTIsNDYuMDE3LTEyNy4zMzYgIGMwLTExMC4wODQtODkuMjI3LTE5OS4zMTItMTk5LjMxMi0xOTkuMzEyQzk3LjU5OSw4LjQwMyw4LjM1MSw5Ny42MzEsOC4zNTEsMjA3LjcxNWMwLDExMC4wNjQsODkuMjQ4LDE5OS4zMTIsMTk5LjMxMiwxOTkuMzEyICBjNDguNDM1LDAsOTIuNzkyLTE3LjI5MiwxMjcuMzM2LTQ2LjAxN2wxNDIuOTA4LDE0Mi45MjJMNTAzLjg2Niw0NzcuOTc0eiBNMjkuMzMxLDIwNy43MTVjMC05OC4zMzQsNzkuOTg3LTE3OC4zMzIsMTc4LjMzMi0xNzguMzMyICBjOTguMzI1LDAsMTc4LjMzMiw3OS45OTgsMTc4LjMzMiwxNzguMzMycy04MC4wMDcsMTc4LjMzMi0xNzguMzMyLDE3OC4zMzJDMTA5LjMxOCwzODYuMDQ3LDI5LjMzMSwzMDYuMDUsMjkuMzMxLDIwNy43MTV6IiBmaWxsPSIjRkZGRkZGIi8+PC9zdmc+) no-repeat left 9px center transparent;
    background-size: 20px;
  }


  input.search-text:focus {
    z-index: 3;
    width: 250px;
    border: 1px solid #fff;
    background-color: $primary-color;
    outline: none;
    cursor: auto;
    padding-right: 10px;
  }

  input.search-text::placeholder {
    color: #fff;
  }

  input.search-submit {
    position: relative;
    z-index: 4;
    top: 17px;
    left: 49px;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 30px;
    cursor: pointer;
    background: none;
  }

  input.search-text::-webkit-search-cancel-button {
    cursor: pointer;
  }
}

.slider {
  .carousel-control-prev svg {
    background-color: $white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: $primary-color !important;
  }

  .carousel-control-next svg {
    background-color: $white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: $primary-color !important;
  }
}

.our-status {

  position: relative;
  z-index: 3;


  .counter-box {
    display: block;

    background: linear-gradient(to bottom, #555374 0%, #ebe8f2 100%);
    padding: 20px 15px;
    text-align: center;
    border-radius: 15px; // Slightly more rounded corners

    .count {
      font-size: 2.5rem;
      color: $primary-color;
      font-weight: bold; // Make the number stand out more
    }

    img {
      width: 60px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ffffff40;
      border-radius: 10px;
    }
  }

  .counter-box .title {
    margin: 5px 0 0;
    padding: 0;
    color: #1f1f1f;
    font-size: 16px; // Slightly larger font for readability
    font-weight: 500;
  }

  .counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2;
  }

  .counter {
    font-weight: 700;
    line-height: 28px;
  }

  .counter-box.colored p,
  .counter-box.colored i,
  .counter-box.colored .counter {
    color: #fff;
  }
}


// notice start
.notice {
  padding-top: 180px;
  padding-bottom: 60px;
  background-color: #f5f5f5;

  .d-flex p {
    color: #9ca3af;
  }

  .custom-nav-tabs {
    border-bottom: 1px solid #dee2e6;

    .nav-link {
      background-color: #D1D5DB;
      color: #212529;
      border: none;
      border-radius: 0;
      padding: 0.65rem 1.5rem;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;


      &.active {
        background-color: #3f2a71;
        color: #fff;
        font-weight: 600;
      }

      &:hover {
        background-color: #e9ecef;
        color: #212529;
      }

      &:focus {
        box-shadow: none;
      }

    }
  }

  .tab-content {
    p {
      color: #4B5563;
    }


  }

  .notice-board {
    background-color: #fff;
    border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .date-box {
      color: #fff;
      border-radius: 5px;
      width: 60px;
      text-align: center;

      .day {
        font-size: 14px;
        display: block;
        background-color: $primary-color;
        padding: 4px 6px;
      }

      .month {
        font-size: 14px;
        display: block;
        font-weight: bold;
        background-color: #9795b0;
        padding: 4px 6px;
      }
    }

    .notice-content {
      flex-grow: 1;
      padding: 0 15px;
      font-size: 14px;
      color: #333;
    }

    .notice-icon {
      font-size: 20px;
      color: #6c757d;
    }

    li {
      border-bottom: 1px dashed #6c757d;

      &:last-child {
        border: 0;
      }
    }

  }

  span.bg-white {
    padding: .60rem 1.5rem !important;
    font-size: 20px;
    font-weight: 600;

    margin: auto;
  }
}

// notice end



// faq

.faqs {
  p {
    color: #4B5563;
  }

  .accordion-button {
    position: relative;
    font-size: 20px;
    color: #333;
    outline: none;
    transition: all 0.5s ease;
    font-weight: 500;
    box-shadow: none;

    &:focus {
      outline: none; // Remove focus outline
      box-shadow: none; // Remove any potential box-shadow
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      margin-left: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.5s;
    }

    &:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");

      border: 0;
      border-radius: 50%;
      padding: 10px;
      background-color: $primary-color;
    }

    &.collapsed::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
      border: 0;
      border-radius: 50%;
      padding: 10px;
      background-color: $primary-color;
    }




  }

  .accordion-item {
    border: none;
    margin-bottom: 1rem;
    background-color: #F3F4F6;
    border-radius: 10px !important;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .accordion-header {
    margin-bottom: 0;
  }

  .accordion-body {
    background-color: #E5E7EB;

    border: none; // Ensures no borders on the accordion body
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 0;
  }


  .accordion-button.collapsed {
    border-radius: 10px !important;
    border: none;
    background-color: #F3F4F6;

    span {
      background-color: #E5E7EB;
      color: #4B5563;
    }
  }

  .accordion-button {
    border: none; // Removes all borders from the button
    border-bottom: none !important; // Ensures no border at the bottom
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background-color: #E5E7EB;
    font-size: 16px;
  }

}

// faq end


.our-academics {


  .card-container {
    padding: 20px 15px;
    overflow: visible;

    .card {
      height: 520px;
      z-index: 1;

      h5 {
        color: $primary-color;
        font-size: 1.5rem;
      }

      li {
        color: #4B5563;
      }
    }

  }


  .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color !important;
    color: #000 !important;
    font-size: 1.3rem !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    // box-shadow: 0px 0px 10px 0px #000;
    right: -60px;
    border: 1px solid #DDDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color !important;
    color: #000 !important;
    font-size: 1.3rem !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    // box-shadow: 0px 0px 10px 0px #000;
    left: -60px;
    border: 1px solid #DDDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-theme .owl-nav {
    margin-top: 0px !important;

    button svg {
      color: $white;
      font-weight: bold;
    }
  }
}

// home-testimonial
.home-testimonial {
  .card {
    img {
      width: 80px;
      height: 80px;
      margin: auto;
    }

    .rating {
      padding-top: 20px;

      span {
        color: $primary-color;
        font-size: 18px;
      }

    }

    p {
      color: #4B5563;
    }

    h5 {
      font-weight: bold;
    }
  }

  .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white !important;
    color: #000 !important;
    font-size: 1.3rem !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    // box-shadow: 0px 0px 10px 0px #000;
    right: -60px;
    border: 1px solid #DDDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white !important;
    color: #000 !important;
    font-size: 1.3rem !important;
    width: 40px;
    height: 40px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    // box-shadow: 0px 0px 10px 0px #000;
    left: -60px;
    border: 1px solid #DDDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .owl-theme .owl-nav {
    margin-top: 0px !important;

    button svg {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.blog {
  .card {
    border: none;

    border-radius: 8px;

    img {
      border-radius: 8px 8px 0 0;
    }

    .card-body {
      h5.card-title {
        font-size: 22px;
        font-weight: bold;
      }

      p.text-muted {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        color: #4B5563 !important;
      }

      p.card-text {
        font-size: 1rem;
        color: #4B5563;
      }
    }
  }

  .blog-card {
    gap: 8px;

    img {
      width: 180px;
      height: 140px;
    }

    h6 {
      font-size: 20px;
      font-weight: bold;
    }

    p.text-muted {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      color: #4B5563 !important;
    }

    p.card-text {
      font-size: 1rem;
      color: #4B5563;
    }
  }

}

// contact us
.contact-us {
  padding: 60px 0px;

  p {
    color: #9CA3AF;
  }
}

// footer
.footer {

  padding-top: 40px;

  .footer-logo {
    img {
      width: 160px;
    }

    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
    color: #6c757d;
  }

  h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .social-links {
    a {
      font-size: 18px;
      color: $primary-color;
      margin-right: 15px;

      &:hover {
        color: #0056b3;
      }
    }
  }

  .list-unstyled {
    li {
      margin-bottom: 10px;
      color: #6c757d;

      a {
        color: #6c757d;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .google-map {
    margin-top: 20px;
  }

  .video-item {
    margin-bottom: 15px;
    display: flex;
    gap: 6px;

    iframe {
      width: 110px;
      height: 80px;
      border-radius: 5px;
      border: none;
    }

    p {
      font-size: 18px;
      color: #000;
      font-weight: bold;

    }

    span {
      font-size: 14px;
      color: #4B5563;
      font-weight: 600;
    }
  }

  .footer-bottom {
    background-color: #E5E7EB;
    padding: 16px 0;
    text-align: center;
    margin-top: 20px;

    p {
      font-size: 14px;
      color: #000;
    }
  }

  // Responsive
  @media (max-width: 767px) {
    .footer-logo {
      text-align: center;
    }

    .social-links {
      text-align: center;
    }
  }
}



// subject page

.subject {
  .card {
    background-color: #eaeaef;
    text-align: center;

    img {
      height: 40px;
      width: 40px;
    }

    .subject-icon {
      width: 65px;
      height: 65px;
      padding: 10px;
      display: flex;
      justify-content: center;
      margin: auto;
      background-color: white;
      align-items: center;
      border-radius: 50%;
      border: 1px solid rgb(128, 128, 128);
    }
  }
}

// teacher list page

.our-teacher {
  .team-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: none;

    .card-img-top {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 1;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .card-text {
      text-align: center;
      padding: 20px;
      z-index: 2;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
    }

    .card-subtitle {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .card-contact,
    .card-email {
      font-size: 14px;
      margin: 0;
    }
  }
}





// responsive

// large
@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown .dropdown-menu {
    display: none;
  }

  .dropdown:hover .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }


}



// 
@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }

  header {
    background-color: #092F78;

    .nav-item {
      margin: 10px 0px;
    }
  }


}

@media (min-width: 992px) and (max-width: 1400px) {
  header {
    .nav-link {
      padding: 6px 12px !important;

      font-size: 13px;
    }

    .btn {
      font-size: 14px;
    }
  }
}

/*only mobile area */
@media (max-width: 768px) {
  .team-slider .owl-carousel .owl-next {
    right: -10px !important;
    width: 35px;
    height: 35px;
  }

  .team-slider .owl-carousel .owl-prev {
    left: -10px !important;
    width: 35px;
    height: 35px;
  }

  .mobile-app .nav-item {
    margin-bottom: 10px;
  }
}

// tab area only 
@media (min-width: 768px) and (max-width: 991.98px) {


  .mobile-app .row {
    align-items: center;
  }

}